.venv/
__pycache__/
.ipynb_checkpoints/
*.pyc
.DS_Store
outputs/w2d3_smote/
outputs/w2d4_validation/mlflow.db
outputs/w2_preprocessing/mlflow.db
outputs/w3d1_linear_regression/mlflow.db
week2_Notebooks/mlruns/
